/* styles for home page only */
/*
#twitter_div
{
	border: thick solid gray;
	position: relative;
	display: block;
	float: right;
	width: 15em;
	margin-left:0.5em;
	padding-left:0.5em;
}

.sidebar-title
{
	position: relative;
	display: block;
	width: 10em;
}

#twitter_update_list
{
	position: relative;
	display: block;
	float: right;
	margin:0em;
	padding-right:0.5em;
	width:14em;
}
*/